<aside class="sidebar">
  <div class="content">
    <div
      class="toc"
      data-title="{{{detag page.title}}}"
      data-levels="{{{or page.attributes.toclevels 2}}}"
    >
      <div class="toc-menu"></div>
    </div>
    <div class="sidebar-links">
      {{#if (and page.fileUri (not env.CI))}}
        <a href="{{page.fileUri}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          ><path
              d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"
            ></path></svg>
          Edit this Page
        </a>
      {{else if (and
        page.editUrl
        (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private))
      )}}
        <a href="{{page.editUrl}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          ><path
              d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"
            ></path></svg>
          Edit this Page
        </a>
      {{/if}}
      {{#if page.origin.webUrl}}
        <a href="{{page.origin.webUrl}}" title="Source Repository">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512px" height="512px" fill="none">
    <path d="M23.6188 12.9999L19.8886 2.82896C19.7371 2.4083 19.122 2.4083 18.9705 2.82896L16.494 9.99994H7.50604L5.02956 2.82896C4.87803 2.4083 4.26295 2.4083 4.11142 2.82896L0.381247 12.9999C0.276408 13.289 0.404366 13.6112 0.678 13.7651L11.5243 19.6958C11.8256 19.8611 12.1744 19.8611 12.4757 19.6958L23.322 13.7651C23.5956 13.6112 23.7236 13.289 23.6188 12.9999Z" fill="#E24329"/>
    <path d="M12.0001 19.1956L16.4941 9.99996H7.5061L12.0001 19.1956Z" fill="#FCA326"/>
    <path d="M12.0001 19.1955L7.5061 9.99988H3.24121L12.0001 19.1955Z" fill="#E24329"/>
    <path d="M3.24121 9.99988L0.381226 12.9998C0.276388 13.2889 0.404345 13.6111 0.678 13.765L12.0001 19.1955L3.24121 9.99988Z" fill="#FCA326"/>
    <path d="M12.0001 19.1955L16.4941 9.99988H20.7589L12.0001 19.1955Z" fill="#E24329"/>
    <path d="M20.7589 9.99988L23.6188 12.9998C23.7237 13.2889 23.5957 13.6111 23.322 13.765L12.0001 19.1955L20.7589 9.99988Z" fill="#FCA326"/>
    <path d="M16.494 9.99988H20.7589L18.9705 2.82894C18.819 2.40828 18.2039 2.40828 18.0524 2.82894L16.494 9.99988Z" fill="#E24329"/>
    <path d="M7.50603 9.99988H3.24121L4.11141 2.82894C4.26294 2.40828 4.87802 2.40828 5.02955 2.82894L7.50603 9.99988Z" fill="#E24329"/>
  </svg>
  Source Repository
</a>
      {{/if}}
    </div>
  </div>
</aside>
